.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-content-bg);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: var(--border-width) solid var(--color-content-border);
  min-width: 0;
}
